$main-color: #0C4740;
$main-color-dark: #092522;
$accent-color: #00FFA3;
$accent-color-dark: #0f9262;
$font-primary: 'Press Start 2P', monospace;
$font-secondary: 'JetBrains Mono', monospace;
$red-color: #ca2b2b;
$green-color: #68b313;
$blue-color: #1f52b1;
$yellow-color: #edbc01;
$transition: 0.2s ease-out;
$trapezoid: 255px 25px 225px 25px/25px 225px 25px 255px;