body {
  background-color: $main-color;
  color: $accent-color;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;

  #app {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    .loader {
      animation: 0.8s opacity;
      height: 100vh;
      img {
        display: block;
        width: 25%;
        min-width: 5rem;
        margin: 0 auto;
        margin-bottom: 5rem;
      }
      h1 {
        font-size: 0.8rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
      }
      .progress {
        width: 100%;
        height: 3rem;
        background-color: $accent-color;
        display: block;
        padding: 0.2rem;
        border-radius: $trapezoid;
        .bar {
          display: block;
          background-color: $main-color-dark;
          height: 100%;
          border-radius: $trapezoid;
          animation: 0.6s borderTrapezoid infinite;
          transition: $transition;
        }
      }
    }
  }
}

.h-100 {
  height: 100vh;
}